<footer id="footer" class="footer-1 mt-4">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-5">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Biblioteca Angular<span></span></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-5">
                    <div class="widget no-box">
                        <h5 class="widget-title">Lorem Ipsum<span></span></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="btn draw meet" href="#." target="_blank">Lorem ipsum</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-2">

                    <div class="widget no-box">
                        <h5 class="widget-title">Lorem<span></span></h5>

                        <p><a href="mailto:info@domain.com" title="glorythemes">lorem@ipsum.com</a></p>
                        <ul class="social-footer2">
                            <li class="">
                                <a title="youtube" target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li class="">
                                <a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                            </li>
                            <li class="">
                                <a href="https://twitter.com" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
                            </li>
                            <li class="">
                                <a title="instagram" target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright ©.</p>
                </div>
            </div>
        </div>
    </div>
</footer>