div {
  background-image: url("../../assets/images/books.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.navbar {
  opacity: 0.75;
}

.navbar a {
	margin: 0 4rem;
}