div {
    background-image: url("../../assets/images/books.jpg");
    text-align: center;
    padding-bottom: .25rem;
    font-family: 'Fjalla One', sans-serif;
    word-break: break-word;
    height: auto;
}

.div-navbar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background: rgba(1, 0, 25, 0.75);
    padding: 0 !important;
}

.navbar a {
    margin: 0 4rem;
    cursor: pointer;
    color: #f24000;
    display: inline-block;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f24000;
    transition: width .3s;
}

.navbar a:hover::after {
    width: 100%;
}