<div class="img-thumbnail">

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" (click)="changeTitle('Home')" >
      <i class="fa fa-book"></i>
    Biblioteca
  </a>
  <a class="navbar-brand" (click)="changeTitle('Livros')">
    <i class="fa fa-book"></i>
    Livros
  </a>
  <a class="navbar-brand" (click)="changeTitle('Autores')">
    <i class="fa fa-book"></i>
    Autores
  </a>
  <a class="navbar-brand" (click)="changeTitle('Emprestimos')">
    <i class="fa fa-book"></i>
    Emprestimos
  </a>
  <a class="navbar-brand" (click)="changeTitle('Usuarios')">
    <i class="fa fa-book"></i>
    Usuarios
  </a>
</nav>
<ba-title [title]="title"></ba-title>
</div>
