<!-- <div *ngIf="title == 'Home'" class="main">
    <div>
        <ba-home></ba-home>
    </div>
</div> -->

<div class="container main">
    <div class="row">
        <ba-livro class="col col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let livro of livros" [livros]="livro"></ba-livro>
    </div>
</div>
<!-- 
<div *ngIf="title == 'Autores'" class="container main">
    <div class="row">
        <ba-autor class="col col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let autor of autors" [autors]="autor"></ba-autor>
    </div>
</div>

<div *ngIf="title == 'Emprestimos'" class="container main">
    <div class="row">
        <ba-emprestimo class="col col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let emprestimo of emprestimos" [emprestimos]="emprestimo"></ba-emprestimo>
    </div>
</div>

<div *ngIf="title == 'Usuarios'" class="container main">
    <div class="row">
        <ba-usuario class="col col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let usuario of usuarios" [usuarios]="usuario"></ba-usuario>
    </div>
</div> -->