* {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container.main {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    max-width: unset !important;
}