/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    position: relative;
}

body {
    background-color: #030035 !important;
}

.parallax {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}